{
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "extends": [
        "plugin:vue/vue3-essential",
        "eslint:recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"]
    },
    "overrides": [
        {
            "files": [
                "**/__tests__/*.js?(x)",
                "**/tests/unit/**/*.spec.js?(x)"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}
